<footer>
    <div class="contenedor-footer">
        <a (click)="redirecTo2('footer')"><img loading="lazy" src="/assets/iconos-logos/Logo-Fourer.png" alt="logo-footer" class="logo-footer"></a>
            <p class="p-footer">
                © Copyright - 2023 |
                Nussa Beauty Bar   |
                Todos los derechos reservados|
                By <a href="https://api.whatsapp.com/send?phone=584123454577" target="_blank" rel="noopener noreferrer" >ABBA Studio</a>
            </p>
    </div>
</footer>