footer{
    background-color: #F81944 ;
    height: 170px;
    width: 1423px;
}
.contenedor-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.logo-footer{
    width: 230px;
    height: 82px;
    margin-top: 2rem;
    cursor: pointer;
}
.p-footer{
    margin-top: 1rem;
    color: #F5BFD1;
    text-align: center;
}
.p-footer a{ 
    color: #F5BFD1;
}
@media (max-width: 400px) {
    footer{
        height: 150px;
        width: 393px;
    }
    .logo-footer{
        width: 140px;
        height: 50px;
    }
}