<section class="section-elf">
    <app-navbar></app-navbar>
    <div class="logo-marca">
        <img loading="lazy" src="/assets/iconos-logos/M 7.png" alt="" class="img-marca">
    </div>
    <div class="contenido">

        <div *ngFor="let productoM of productoM7" class="card">
            <img loading="lazy" src="/assets/productos/{{productoM.id}}.png" alt="img-card" class="img-card">
            <div class="texto-card">
                <p class="p-card">
                    {{productoM.description}}
                    </p>
                <div class="precio-comprar">
                    <h2 class="h2-precio">{{productoM.price}}$</h2>
                    <div class="comprar" (click)="addToCart(productoM)">
                        <p class="p-comprar">Agregar</p>
                        <i class="bi-comprar bi-cart4"></i>
                    </div>
                </div>  
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</section>