<section class="section-labios">
    <app-navbar></app-navbar>
    <div class="banner-titulo">
        <h2 class="h2-titulo">
            Labios
        </h2>
    </div>
    <div class="contenido">

        <div *ngFor="let productoC of productos3" class="card">
            <img loading="lazy" src="/assets/productos/{{productoC.id}}.png" alt="img-card" class="img-card">
            <div class="texto-card">
                <p class="p-card">
                    {{productoC.description}}
                    </p>
                <div class="precio-comprar">
                    <h2 class="h2-precio">{{productoC.price}}$</h2>
                    <div class="comprar" (click)="addToCart(productoC)">
                        <p class="p-comprar">Agregar</p>
                        <i class="bi-comprar bi-cart4"></i>
                    </div>
                </div>  
            </div>
        </div>

    </div>

    <app-footer></app-footer>
</section>