body{
    font-family: 'Caprasimo', serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5bfd1;
}
*, *:before, *:after {
    box-sizing: inherit;
  }